@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
.header{
    background: rgb(185, 144, 68)!important;
}
footer{
    background: rgb(241, 194, 105)!important;
}
.background{
    background-image:  url('image/background-pic.jpg');
    background-color: rgba(49, 49, 49, 0.7);
    background-blend-mode: overlay;
    height: 530px;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: rgb(0, 0, 0);
    
}

.Animal{
    background-image: url(image/wallpaper.jpg);    
   }

.font{
    font-size: 17px;
    padding-bottom: 0 !important;
   }
.zoom {
 
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
.text-color{
    color: rgb(255, 255, 255);
    height: 550px; 
    text-align: center;
}

.col-text a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-bottom: 10px;
}

.col-p{
    color: rgb(255, 255, 255);
}

.col-text-2 {
    color: rgb(255, 255, 255);

    font-weight: 500;
}

.t-s p{
    font-size: 19px;
}
.nav-item{
    padding-left: 20px;
    padding-right: 20px;
}
.padding{
    padding-top: 80px;
    padding-bottom: 80px;
}
.padding-2{
    padding-top: 80px;

}
.padding-sm{
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-md{ 
    padding-bottom: 50px!important;
}
.border-radius img{
    border-radius: 25px;
}

.img-size img{
    height: 100%;
    width: 100%;
}
.image-size{
    height: 130px;
    width: 130px;
 
}
.col-white{
   
    border-top: 1px solid rgb(0, 0, 0);
}

.image-size img{
    height: 100%;
    width: 100%;
}
.text-align-center{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.text-size{
    font-size: 20px;
}

.shadow-img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Pet-Adopt{
 background: rgb(248, 245, 240);
}
.donate-color{
    background: rgb(226, 255, 193);
    border-radius: 25px;
}
@media (max-width: 575px){
.image-size{
    height: unset;
}
.mb2-2{
    margin-bottom: 30px;
}
}